<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="post">
                {% csrf_token %}

                <label for="task">Task:</label>
                <input type="text" name="task" id="task" />

                <label for="due-date">Due Date:</label>
                <input type="text" name="due_date" id="due-date" />

                <label for="is-completed">Is Completed:</label>
                <input type="checkbox" name="is_completed" id="is-completed" />

                <label for="list">List:</label>
                <select name="list" id="list">
                  {% for list in lists %}
                    <option value="{{ list.id }}">{{ list.name }}</option>
                  {% endfor %}
                </select>

                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>
</html>